extends layout

block content
  h1= title
  table
    thead
      tr
        th
          a(href="/doctors?sort=name") Name
        th
          a(href="/doctors?sort=email") Email
        th
          a(href="/doctors?sort=phone") Phone
        th
          a(href="/doctors?sort=address") Address
        th
          a(href="/doctors?sort=created_at") Created At
        th
          a(href="/doctors?sort=updated_at") Updated At
    tbody
      each doctor in doctors
        tr
          td
            a(href=doctor.url) #{doctor.fullName}
          td
            p #{doctor.email}
          td
            p #{doctor.phone}
          td
            p #{doctor.address}
          td
            p #{doctor.createdAtFormatted}
          td
            p #{doctor.updatedAtFormatted}
  a(href="/doctors/new") New Doctor
