extends layout 

block content 
  h1= title
  form(action="", method="post")
    input(type="hidden", name="id")
    div 
      label(for="name") Name
      input(type="text", name="name", id="name", value=insurance.name)
    div
      label(for="phone") Phone
      input(type="number", name="phone", id="phone" value=insurance.phone)
    div
      label(for="address") Address
      input(type="text", name="address", id="address" value=insurance.address)
    div
      label(for="email") Email
      input(type="email", name="email", id="email" value=insurance.email)
    div
      input(type="submit", value="Submit")
    if errors
      ul
        for error in errors
          li= error.msg
