extends adminOnlyLayout

block adminContent
  h1= title
  form(action='', method='post')
    input(type="hidden", name="id")
    div
      label(for='patient') Patient
      select(name='patient', id='patient', required)
        option(value selected disabled) Select a patient
        each patient in patients
          option(value=patient.id) #{patient.fullName}
    div
      label(for='doctor') Doctor
      select(id='doctor' required, name='doctor')
        option(value selected disabled) Select a doctor
        for doctor in doctors
          option(value=doctor.id)= doctor.firstName + ' ' + doctor.lastName
    div
      label(for='date') Visit Date
      input(type="date", name="date", id="date", required)
    div
      label(for='diagnosis') Diagnosis
      input(type="text", name="diagnosis", id="diagnosis")
    div
      label(for='treatment') Treatment
      input(type="text", name="treatment", id="treatment")
    div
      label(for='notes') Notes
      input(type="text", name="notes", id="notes")
    div
      label(for='purchases[]') Purchases
      select(id='purchases[]', name='purchases[]' multiple)
        for product in products
          option(value=product.id) #{product.name}
    div
      label(for="price") Price
      input(type="number", name="price", id="price")
    div
      input(type="submit", value="Submit")

  if errors
    ul
      for error in errors
        li!= error.msg
        